.App {
  text-align: center;
}

.topContainer {
  background-color: #f6f6ef;
  display: flex;
  flex-direction: row;
}

.itemContainer {
  display: flex;
  flex-direction: row;
  text-align: left;
  padding: 0.6em;
}

.backButton {
  height: 40px;

}

.backButton img {
  max-height: 100%;
  max-width: 100%;
}

/* essential for map to be displayed! */
.leaflet-container {
  width: 100%;
  height: 70vh;
}

.plantItemImg {
    width: 50px;
    height: 50px; 
}

.recipeImg {
    width: 20em;
    height: 20em;   
}

.item {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0.6em;
}
