.App {
  text-align: center;
}

.topContainer {
  background-color: #f6f6ef;
  display: flex;
  flex-direction: row;
}

.topContainer div {
  margin: 0 1.2em;
}

.topContainer div:nth-child(1) {
  /* center on cross-axis, i.e. vertically */
  align-self: center;
}
