*, *::before, *::after {
    box-sizing: border-box;
}

.card {
    background: white;
    margin: .5rem;
    padding: .8rem;
    border: 1px solid black;
    border-radius: .25em;
}

.cutoff-text {
    --max-lines: 5;
    --line-height: 1.4;
    
    max-height: calc(var(--max-lines) *  1em * var(--line-height));
    line-height: var(--line-height);

    overflow: hidden;
    position: relative;
}

/* fade out effect on text */
/* apply only when button is in collapsed/notChecked state */
.cutoff-text:has(+ .expand-btn:not(:checked))::before {
    content: "";
    position: absolute;
    height: calc(1em * var(--line-height));
    width: 100%;
    bottom: 0;
    pointer-events: none; /* not selectable */
    background: linear-gradient(to bottom, transparent, white);
}

/* remove height limit for expanded state */
.cutoff-text:has(+ .expand-btn:checked) {
    max-height: none;
}

.expand-btn {
    appearance: none;
    border: none;    
    padding: .5em;
    cursor: pointer;
}

.expand-btn:hover {
    background-color: #efefef;
}

.expand-btn::before {
    content: "more..."
}

.expand-btn:checked::before {
    content: "less..."
}